[submodule "score-sense-server"]
	path = score-sense-server
	url = git@github.com:OnixByte-Business/score-sense-server.git
[submodule "score-sense-miniapp"]
	path = score-sense-miniapp
	url = git@github.com:OnixByte-Business/score-sense-miniapp.git
[submodule "score-sense-web"]
	path = score-sense-web
	url = git@github.com:OnixByte-Business/score-sense-web.git
